.item {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    width: 100%;
    height: 50px;
    background: cadetblue;
}

.btn {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
    border: none;
}

.btn:focus {
    border: 1px solid #030303;
}
.note{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.note a{
    margin-right: 5px;
    color: azure;
}
